@charset "UTF-8";

div.input-group {
  margin-top: 2.5px;
}

.material-icons.md-green {
  color: rgb(0, 255, 0);
}

#template {
  display: none;
}

#fieldSourceDefinition, #tableSourceDefinition {
  width: 100%;
  margin-top: 10px;
}

/*
 * #tableSourceDefinition th
 */
#tableSourceDefinition th {
  vertical-align: middle;
}

#tableSourceDefinition th:nth-child(1) {
  width: 5%;
}

#tableSourceDefinition th:nth-child(2) {
  width: 25%;
}

#tableSourceDefinition th:nth-child(3) {
  width: 55%;
}

#tableSourceDefinition th:nth-child(4) {
  width: 5%;
}

#tableSourceDefinition th:nth-child(5) {
  width: 5%;
}

#tableSourceDefinition th:nth-child(6) {
  width: 5%;
}

/*
 * #tableSourceDefinition td
 */
#tableSourceDefinition td {
  vertical-align: middle;
}

#tableSourceDefinition td:nth-child(2) {
  width: 25%;
}

#tableSourceDefinition td:nth-child(3) {
  width: 55%;
}

#tableSourceDefinition td:nth-child(4) {
  width: 5%;
  vertical-align: middle;
}

#tableSourceDefinition td:nth-child(5) {
  width: 5%;
  vertical-align: middle;
}

#tableSourceDefinition td:nth-child(6) {
  width: 5%;
  vertical-align: middle;
}

/*
 * #fieldSourceDefinition th
 */
#fieldSourceDefinition th {
  vertical-align: middle;
}

#fieldSourceDefinition th:nth-child(1) {
  width: 5%;
}

#fieldSourceDefinition th:nth-child(2) {
  width: 25%;
}

#fieldSourceDefinition th:nth-child(3) {
  width: 15%;
}

#fieldSourceDefinition th:nth-child(4) {
  width: 25%;
}

#fieldSourceDefinition th:nth-child(5) {
  width: 20%;
}

#fieldSourceDefinition th:nth-child(6) {
  width: 5%;
}

#fieldSourceDefinition th:nth-child(7) {
  width: 5%;
}

/*
 * #fieldSourceDefinition td
 */
#fieldSourceDefinition td:nth-child(2) {
  width: 25%;
}

#fieldSourceDefinition td:nth-child(3) {
  width: 15%;
}

#fieldSourceDefinition td:nth-child(4) {
  width: 25%;
}

#fieldSourceDefinition td:nth-child(5) {
  width: 20%;
}

#fieldSourceDefinition td:nth-child(6) {
  width: 5%;
  vertical-align: middle;
}

#fieldSourceDefinition td:nth-child(7) {
  width: 5%;
  vertical-align: middle;
}