@charset "UTF-8";

div.input-group {
  margin-top: 2.5px;
}

.material-icons.md-green {
  color: rgb(0, 255, 0);
}

#template {
  display: none;
}

/*
 * #fieldMaster
 */
#fieldMaster {
  width: 100%;
  margin-top: 10px;
}

/*
 * #fieldMaster th
 */
#fieldMaster th {
  vertical-align: middle;
}

#fieldMaster th:nth-child(1) {
  width: 5%;
}

#fieldMaster th:nth-child(2) {
  width: 30%;
}

#fieldMaster th:nth-child(3) {
  width: 15%;
}

#fieldMaster th:nth-child(4) {
  width: 40%;
}

#fieldMaster th:nth-child(5) {
  width: 5%;
}

#fieldMaster th:nth-child(6) {
  width: 5%;
}

/*
 * #fieldMaster td
 */
#fieldMaster td:nth-child(2) {
  width: 30%;
}

#fieldMaster td:nth-child(3) {
  width: 15%;
}

#fieldMaster td:nth-child(4) {
  width: 40%;
}

#fieldMaster td:nth-child(5) {
  width: 5%;
  vertical-align: middle;
}

#fieldMaster td:nth-child(6) {
  width: 5%;
  vertical-align: middle;
}